*{
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #CFDFEF;
    color: #264653;
    font-size: 16px;
    height: 100vh;
    gap: 1em;
}


.header {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-bottom: 1.5em;
}


.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: min(90vw, 500px);
    height: min(90vw, 500px);
}

.boardTurn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}



.cell {

    display: flex;  
    justify-content: center;  
    align-items: center;  
    font-size: 2rem;  
    cursor: pointer;  
    border-right: 1px solid #333;  
    border-bottom: 1px solid #333;  
    
}

.cell:hover {
    background-color: #B6CCE5;
  }

.cell:nth-child(3n) {
    border-right: none;
}


.cell:nth-last-child(-n +3) {
    border-bottom: none;
}


.playerTurn{
    font-size: 4rem;
}

button {
    background-color: #7B5EA7;
    color: white;
    border-radius: 24px;
    border: none;
    height: 2rem;
    width: 6rem;
}


button:hover{
    background-color: #335D8A;
    color: white;
}

.playerBox{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

